html {
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: blue;
}
section {
    width: 500px;
    margin: auto;
}
#menu {
    box-sizing: border-box;
    text-align: center;
}
#jogadores {
    padding: 20px 0 30px;
    margin: 10px 0 20px;
    border-bottom: 5px solid rgba(0, 0, 128, .7);
    text-align: center;
    background-color: blue;
}
#jogadores input {
    padding: 10px;
    vertical-align: middle;
    border-radius: 10px;
    border-bottom: 5px solid navy;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 150px;
}
#jogadores span {
    background-color: blue;
    padding: 6.5px 9px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    vertical-align: middle;
}
#menu button {
    padding: 10px 30px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: transparent;
    border: 5px solid rgba(0, 0, 128, .7);
    font-size: 18px;
}
#menu button:hover{
    cursor: pointer;
}
#menu button:active {
    background-color: blue;
    color: white;
}
#mensagem {
    display: block;
    padding: 10px 10px 15px;
    height: 10px;
    color: #565cff;
}
table {
    width: 450px;
    margin: 20px auto;
}
table td {
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 96px;
    box-sizing: border-box;
    color: white;
    font-weight: 900;
}
.border-top {
    border-top: 10px solid rgba(0, 0, 128, .7);
}
.border-right {
    border-right: 10px solid rgba(0, 0, 128, .7);;
}